body {
    font-family: "Nico Moji";
    background-color: #aafaaa; /* ポケモン世界風の背景色 */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%; /* 全体の横幅を広げる */
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-section {
    text-align: center;
}

.description-section {
    text-align: center;
    margin-bottom: 20px;
}

.gacha-section {
    text-align: center;
}

/* ガチャを回すともう一度回すのフォント追加 */
#gachaButton,
#resetButton {
    font-family: "Nico Moji";
}

.result-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列 */
    grid-gap: 20px; /* グリッド間のスペース */
}

.result-section .pokemon {
    text-align: center;
}

#resetButton {
    margin-top: 20px;
    background-color: #ffcc00; /* ガチャを回すボタンとは異なる目立つ色 */
    color: #000000;
    text-align: center; /* 中央揃え */
}


.pokemon img {
    max-width: 100px;
    margin: 10px;
}

.monster-ball {
    width: 20px;
    height: 20px;
    background-color: #e73b00; /* モンスターボールの色 */
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
}
